<h1> LIST OF PLAYERS </h1>
<br />
<br />
<% @players.each do |player| %>
<div class = "booyah-box">
	<h1><%= player.name.upcase %></h1>
	<%= player.get_upvotes.size %> WINS

	<br />
	<br />
	</div>
	<br />
	<% end %> 
<br />
<br />
</h1>
<footer>
</footer>
