<h1 class = "text-center"> LIST OF PLAYERS </h1>
<br />
<br />
<% @players.each do |player| %>
<div class = "booyah-box text-center">
	<h1 class = "redtext"><%= player.name.upcase %></h1>
	<%= player.get_upvotes.size %> WINS
	<%if player.user.present? %>
		<br />
		<%= link_to player.user.email, user_path(player.user) %>
		<% end %>
	<br />
	<br />
	</div>
	<br />
	<% end %>
<br />
<br />
</h1>
<footer>
</footer>
