<div class = "text-center"> 
	ROCK PAPER SCISSORS DYNAMITE 
	<br />
	Who would win?
</div>
<div id = "wrap">
	<body>
		<br /><br /><br /> <br />
		<div class = "container text-center content">
			<%= link_to @player1.name.upcase, player_Winner_path(@player1), method: :put %> vs. <%= link_to @player2.name.upcase, player_Winner_path(@player2), method: :put %>

		</div>
		<div class = "clr"></div>
		<br /><br /><br /> <br />
	<div class = "text-center">
		PROFILES
		<br />
		<div class = "pull-left" >
		<%= link_to "PLAYER 1", players_path %>
		<br />
		
		</div>
		<div class = "pull-right" >
		<%= link_to "PLAYER 2", player_path(@player2) %>
		<br />
		</div>

		</div>
</div>

	</body>
<br />
    <div id="footer">
      <div class="container text-center">
      </div>
    </div>
<br />

